body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

nav {
    position: fixed;
    top: 3.4%;
    transform: translateY(-50%);
    width: 100%;
    background-color: #333;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    transition: font-size 0.3s;
}

nav ul li a:hover {
    background-color: #111;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #111;
}

.section{
    text-align: justify;
}

.container {
    top: 7%;
    width: 70%;
    margin: 0 auto;
}

.text, .step {
    text-align: left;
    margin-top: 80px;
    margin-bottom: 20px;
}

img{
    width: 300px;
    height: auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

