body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    transition: font-size 0.3s;
}

nav ul li a:hover {
    background-color: #111;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #111;
}

.section{
    text-align: justify;
}